.container{
    padding:20px;
}
.btn{
    border-radius: 20%;
    padding:15px;
    margin-left:10px;
    text-transform: uppercase;
    width:80px;
    font-size:0.9rem;
    cursor:pointer;
    outline:none;
}
.add-btn{
    background: rgb(49, 216, 49);
    color:white;
    border-radius: 10px;
    border-style: none;
    width: 100px;
    padding: 15px;
    margin: 10px 0px;
}
.add-btn:hover{
    background: rgb(0, 129, 0);
}